{% extends "layout.html" %}

{% block body %}
<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-body">
      <h1 class="card-title">{{ article.title }}</h1>
      <p>by {{article.author}}</p>
      <p class="card-subtitle mb-2 text-muted">
        Oluşturulma tarihi : {{ article.created_date }}
      </p>
      <hr> <br>
      <div class="card-text" style="font-size: 1.1rem; line-height: 1.7;">
        {{article.content |safe}}
      </div>
    </div>
  </div>

</div>

<div style ="margin-top :100px" class="text-center py-5 bg-light rounded">
    <h3 class="display-5">Son Yorumlar</h3>
   {% for comment in comments %}
  <div class="mb-4 text-start px-4">
    <h5>{{ comment.comment_author }}</h5>
    <p>{{ comment.comment_content|safe }}</p>
    <small class="text-muted">{{ comment.comment_created_date }}</small>
    <hr>
  </div>
{% empty %}
  <p>Henüz yorum yapılmamış.</p>
{% endfor %}
    
</div>

<div class="container my-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title mb-4">Yorum Ekle</h5>

      <form method="POST" action="{% url 'article:comment' article.id %}">
        {% csrf_token %}

        <div class="mb-3">
          {{ form.comment_author.label_tag }}
          {{ form.comment_author }}
          {% if form.comment_author.errors %}
            <div class="text-danger small">{{ form.comment_author.errors }}</div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.comment_content.label_tag }}
          {{ form.comment_content }}
          {% if form.comment_content.errors %}
            <div class="text-danger small">{{ form.comment_content.errors }}</div>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Gönder</button>
      </form>

    </div>
  </div>
</div>


{% endblock body %}