# Python cache dosyaları
__pycache__/
*.pyc
*.pyo

# SQLite veritabanı dosyası
kütüphane.db
musicapp.db
supermarket.db

# VSCode gibi editör ayar dosyaları
.vscode/

# MacOS gereksiz dosyası
.DS_Store
