{% extends "layout.html" %}

{% block body %}
<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-body">
      <h2 class="card-title">{{ article.title }}</h2>
      <p class="card-subtitle mb-2 text-muted">
        Son Güncelleme Tarihi: {{ article.created_time }}
      </p>
      <hr> <br>
      <div class="card-text" style="font-size: 1.1rem; line-height: 1.7;">
        {{article.content |safe}}
      </div>
    </div>
  </div>

  <a href="{{ url_for('dashboard') }}" class="btn btn-outline-secondary mt-3">← Kontrol paneline geri dön</a>
</div>
{% endblock body %}